#navBar {
    padding-top: 50px;
    margin-left: 250px;
    color: white;
}

.addComicForm {
    margin-left: 60px;
}
form#deletePreview {
    margin-left: 50px;
}
.imageContainer {
    float: right;
    margin-right: 80px;
}
img#uploadImg {
    width: 180px;
    height: auto;
}
a:link#nav {
    color: white;
    text-decoration: none;
}
a:visited#nav {
    color: white;
}
a:hover#nav{
    color: yellow;
}
a:link#comiclist {
    color: #000099;
    text-decoration: none;
}
a:visited#comiclist {
    color: #000099;
}
a:hover#comiclist {
    color: #000099;
}

div.content {
    background-color: white;
    position: absolute;
    border: #48f solid 4px;
    clear: left;
    padding: 3em;
    width: 750px;
    margin: 0 200px 0 240px;
    padding: 20px 10px 20px 40px;
    margin-right: 40px;
    margin-top: 80px;
   //white-space: nowrap;
    border: medium solid #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000099;
    z-index: -1;
}
div.main_container {
  padding: 5px;
  margin: 5px;
}

.footer { font-size: .80em;
          text-align:center;
	  clear:both;
   	  color: black;
}	

body {
	background-color: #ff4d4d;
	//background-image: url(background.jpg);
}
#listbox { background-color: #99ccff; }
.leftColumn {  
        float:left;
        margin-right: 10px;
}
.leftComicColumn {  
        float:left;
        margin-left: 40px;
}
.addToBox{ 
        margin-left: 500px;
        margin-top: 50px;
        background-color: #F5FF99;
        width: 200px;
        height: 100px;
        position: fixed;
        text-align: center;
}
#selectBoxHeader {
    background-color: red;
    width:200px;
    position: relative;
    color: white;
    margin-top: -20px;
}
tr#searchHeader {
    background-color: red;
    color: white;
}
select {
    width:170px;
    height: 30px;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000099;
}

#titleColor {
    background-color: orange;
    opacity: 0.6;
   // filter: alpha(opacity=60);

}

#mainHeader {
    margin: 0 200px 0 240px;
    background-color: white; 
    height: 100px;
    width: 800px;
    background-color: #99ccff;
}
#loginForm {
    float: right;
    font-size: 13px;
}

#createLink {
    padding-left: 20px;
}
#signin {
    display: inline-block;
    margin-left: 5px;
    float: right;
}
#searchDB {
    width:500px;
    margin: -10px 0px 0px 768px;
    position: absolute;
}
img#searchPic {
    width: 70px;
    height: auto;
}
table#searchResult {
    width:400px;
}
td#comicSearchTitle {
    text-align:  center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
td#comicCheckbox {
     vertical-align: middle;
}
td#comicCellpic {
    text-align: center;
}
#rLabel {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

#signup {
    display: inline-block;
    margin-left: 5px;
    float: left;
}
.logoutBtn {
    float: right;
}
#allowed {
    margin-left: 250px;
    font-size: 13px;
}
#surveyError {
    font-size: 13px;
}

.lightBlue {
    background-color: lightblue;   
}
.white {
    background-color: white;   
}
tr:nth-child(even) {
   background-color: #F5FF99; 
   //FFA6A6
}
