.usercomicsheader {
    font-size: 20px;
}
#cpBoxTitle {
    margin-bottom: 10px;
    margin-top: 10px;
}
img#comicimage {
    float:left;
    width: 150px;
    height: auto;
    margin-left:140px;
}
li#liComic {
    margin-left: 100px;
}
a:link#boxfont {
    font-size: 20px;
    text-decoration: none;
}
#comicinfo {
    font-size:20px;
    margin-bottom: 10px;
}
#comicinforight {
    float: right;
    margin-right: 140px;
}
.userboxheader {
    font-size: 20px;
    margin-bottom: 10px;
}
a:link#usercomiclink {
    text-decoration: none;
}
#trashcan {
    width: 30px;
    height: auto;
}
#trashcan2 {
    width: 17px;
    margin-left: 20px;
    height: auto;
}
#create_box_error {
    float: right;
    margin-right: 565px;
}
#delete_box_form {
    float: right;
 
    margin-right: 370px;
}

#update_box_error {
    float: right;
    margin-right: 350px;
}
#navBar {
    padding-top: 50px;
    margin-left: 250px;
    color: white;
}

#createForm {
    float: right;
    margin-right: 30px;
}
#inputMargin {
    margin-bottom: 20px;
}
#loginForm {
    float: left;
}
#logoutBtn {
    margin-top: 30px;
    margin-left: 20px;
    height: auto;
}
#loginBtn {
    margin-top: 20px;
}
#signupBtn {
    margin-top: -82px;
    margin-left: 90px;
}
#hRule {
    border-left:1px solid #000;
    border-color: #000099;
    margin-top: -100px;
    margin-left: 350px;
    height: 150px; 
}
#loginHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #000099;
  color: white;
  width: 255px;
}

.addComicForm {
    float: left;
    margin-left: 60px;
}
form#deletePreview {
    margin-left: 50px;
}
.imageContainer {
    float: right;
    margin-right: 40px;
}
img#uploadImg {
    width: 180px;
    height: auto;
}
a:link#nav {
    color: white;
    text-decoration: none;
}
a:visited#nav {
    color: white;
}
a:hover#nav{
    color: yellow;
}
a:link#comiclist {
    color: #000099;
    text-decoration: none;
    font-size: 15px;
    margin-left:20px;
}
a:visited#comiclist {
    color: #000099;
}
a:hover#comiclist {
    color: #000099;
}

div.content {
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px; /* future proofing */
    -khtml-border-radius: 45px; /* for old Konqueror browsers */
    background-color: white;
    position: absolute;
    border: #48f solid 4px;
    clear: left;
    padding: 3em;
    width: 770px;
    margin: 0 200px 0 240px;
    padding: 20px 10px 20px 40px;
    margin-right: 40px;
    margin-top: 80px;
   //white-space: nowrap;
    border: medium solid #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000099;
    z-index: -1;
}
div.main_container {
  padding: 5px;
  margin: 5px;
}

.footer { font-size: .80em;
          text-align:center;
	  clear:both;
   	  color: black;
}	

body {
	background-color: #ff4d4d;
	//background-image: url(background.jpg);
}
#listbox { background-color: #99ccff; }
.leftColumn {  
        float:left;
        margin-right: 10px;
}
.leftComicColumn {  
        float:left;
        margin-left: 40px;
}
.addToBox{ 
        margin-left: 500px;
        margin-top: 10px;
        background-color: #F5FF99;
        width: 200px;
        height: 100px;
        position: fixed;
        text-align: center;
}
.news_feed_containerbox { 
        margin-left: 400px;
        margin-top: 50px;
        background-color: #F5FF99;
        width: 250px;
        height: 320px;
        position: fixed;
        text-align: center;
}

._containerbox { 
        margin-left: 400px;
        margin-top: 220px;
        background-color: #F5FF99;
        width: 250px;
        height: 150px;
        position: fixed;
        text-align: center;
}

.about_us_containerbox { 
        margin-left: 20px;
        margin-top: 50px;
        background-color: #F5FF99;
        width: 320px;
        height: 150px;
        position: fixed;
        text-align: center;
}

.recentlyadded_containerbox { 
        margin-left: 20px;
        margin-top: 220px;
        background-color: #F5FF99;
        width: 320px;
        height: 150px;
        position: fixed;
        text-align: center;
}


.homecontainer {
    z-index: -1;
    height: 400px;
}
#selectBoxHeader {
    background-color: red;
    width:200px;
    position: relative;
    color: white;
    margin-top: -10px;
}

#newsfeedBoxHeader {
    background-color: red;
    width:250px;
    position: relative;
    color: white;
    margin-top: -10px;
}

#aboutusBoxHeader {
    background-color: red;
    width:320px;
    position: relative;
    color: white;
    margin-top: -10px;
}
#recentlyaddedBoxHeader {
    background-color: red;
    width:320px;
    position: relative;
    color: white;
    margin-top: -10px;
}
tr#searchHeader {
    background-color: red;
    color: white;
}
select#putInBox {
    width:170px;
    height: 30px;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000099;
}

#titleColor {
    background-color: orange;
    opacity: 0.6;
   // filter: alpha(opacity=60);

}

#mainHeader {
    margin: 0 200px 0 240px;
    background-color: white; 
    height: 100px;
    width: 800px;
    background-color: #99ccff;
}
#createLink {
    padding-left: 20px;
}
#signin {
    display: inline-block;
    margin-left: 5px;
    float: right;
}
#searchDB {
    width:500px;
    margin: -10px 0px 0px 768px;
    position: absolute;
}
#searchDBFilter {
    width:500px;
    margin: -10px 0px 0px 660px;
    position: absolute;
}
img#searchPic {
    width: 70px;
    height: auto;
}
table#searchResult {
    width:400px;
}
table#userComicsSearchResult {
    width:600px;
}
table#userBox {
    width:600px;
}
td#comicSearchTitle {
    text-align:  center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
td#comicCheckbox {
     vertical-align: middle;
}
td#comicCellpic {
    text-align: center;
}
#rLabel {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

#signup {
    display: inline-block;
    margin-left: 5px;
    float: left;
}
.logoutBtn {
    float: right;
}

tr:nth-child(even) {
   background-color: #F5FF99; 
   //FFA6A6
}
